
body{
  background-color: green;
  margin: 10px;
  ;
}


main {
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}



header{
  display: flex;
  width: 90%;

  background-color: gray;
  /* width: 10%; */
  /* align-items: left; */
  /* justify-content: flex-start; */
}

/* main * {
  display: flex;
  
  
} */
article{

  /* float: inline-end; */
}


div {


/* float: inline-end; */

}

body * {
  
margin: 10px;
}
/* p{ 
  overflow: auto;
  height: 200px;
  /* width: 300px; */





ul{
  width: 100%;
  /* height: 500px; */
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-evenly;
  


}
li {


display: inline;


}

table *{

  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
  border: 1px solid gray;
  
  border-spacing: 4px;
  }
 